# Data Science Tools and Eco System

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science
* List popular libraries for Data Science
* Perform mathematical expressions

Some of the popular languages that Data Scientists use are:
1. Java
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPY
2. Pandas
3. SciPy

|Data Science Tools|
--------------------
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Saad Bin Aamir